---
---

@import "{{ site.theme }}";

.wrapper {
  font-size: 16px;

  header {
    display: none;
    width: auto;
    float: none;
    position: static;
    margin-bottom: 40px;
  }

  section {
    width: auto;
    float: none;
  }

  footer {
    width: 300px;
    text-align: center;
    float: none;
    position: static;
    bottom: auto;
    margin: 0 auto;
  }
}
